.container {
    display: flex;
    margin-top: 0.1vw;
    padding-left: 6.5vw;
}

/* .input {
    font-size: 1.25vw;
    background-color: white;
    color: black;
    border-radius: 1rem;
    border: .2rem solid gold;
    padding: 0.3rem;
    margin: 1rem;
    font-family: "Times New Roman";
} */

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5vw;
    margin-left: 10.2vw;
    border-radius: 1vw;
    width: 15vw;
    background-color: gold;
    padding: 0.3vw;
    border: 0.1vw solid gold;
    font-size: 1.6vw;
    font-family: "Times New Roman";
    transition: background-color 0.5s;
}

.search:hover{
    border: 0.1vw solid gold;
    background-color: black;
    color: gold;
}

.order {
    display: flex;
    padding-left: 37vw;
}

.orderDb {
    display: flex;
    padding-left: 37vw;
    padding-bottom: 10vw
}